@import "../../../src/index.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground min-h-screen;
	}
	#root {
		@apply min-h-screen;
	}
}

@layer utilities {
	.bg-stripes {
		background: repeating-linear-gradient(
			45deg,
			/* biome-ignore lint/correctness/noUnknownFunction: tailwind functions */
			theme("colors.primary.DEFAULT" / 5%),
			/* biome-ignore lint/correctness/noUnknownFunction: tailwind functions */
			theme("colors.primary.DEFAULT" / 5%) 20px,
			transparent 20px,
			transparent 40px
		);
	}

	.bg-stripes-destructive {
		background: repeating-linear-gradient(
			45deg,
			/* biome-ignore lint/correctness/noUnknownFunction: tailwind functions */
			theme("colors.destructive.DEFAULT" / 5%),
			/* biome-ignore lint/correctness/noUnknownFunction: tailwind functions */
			theme("colors.destructive.DEFAULT" / 5%) 20px,
			transparent 20px,
			transparent 40px
		);
	}
}

